/* most right color of logo: #3AAF9F
   most left color of logo: #22759F*/

@import url('font-decima.css');

.message-sent {
  font-size: 20px;
}

.align-center, .message-sent {
	text-align: center;
}

/* HIDE social sharing buttons at the bottom of text in posts. */
#social-share-section {
	visibility: hidden;
}

#contact {
  background-color: #f5f5f5;
  font-size: 25px;
}

.btn, a#text-link-colour:hover {
  background-color: #22759F;
}

a#text-link-colour:link {
  color: #3AAF9F;
}

.author {
	font-style: italic;
	color: #838383;
}

/* Custom care of the footer*/
.post-meta, p.theme-by, p.copyright, .blog-tags,
.btn, #contact, .align-center, .author  {
  font-family: DecimaRegular;
}
/* End of footer customization*/
